/*********************** This is the reset file
** here we put the initial style for basic tags
**********************************************/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: 0;
}

body,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--white);
}

a,
a:active,
a:hover {
  color: inherit;
  text-decoration: none;
}

/******************************
******************* Navbar ****
******************************/

nav {
  height: 240px;
  width: 100%;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 90px;
  margin-bottom: 60px;
}
