/*********************** This is the reset file
** here we put the initial style for basic tags
**********************************************/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: 0;
}

body,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--white);
}
