/*********************** This is the utilities file
******** here we put the style for reusable classes
**************************************************/

:root {
  --bgGradient: linear-gradient(180deg, #79c0d3 0%, #873ccf 100%);
  --white: #ffffff;
  --black: #000000;
  --purple: #873ccf;
  --azure: #79c0d3;
  --red: #e20808;
}

.btn {
  width: 235px;
  height: 60px;
  outline: none;
  border-radius: 10px;
  background: var(--bgGradient);
  color: var(--white);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
}

.error {
  color: var(--red) !important;
  border: 2px solid var(--red);
}
