nav .logo__bg {
  position: absolute;
  width: 859.61px;
  height: 859.61px;
  left: -30%;
  top: -70%;
  border-radius: 50%;
  background: radial-gradient(
    177.68% 177.68% at 74.11% 24.64%,
    #79c0d3 0%,
    #873ccf 100%
  );
  transform: rotate(115.6deg);
}

nav .logo {
  height: 100px;
  width: 200px;
  z-index: 1;
}

nav .nav__links {
  display: flex;
  list-style-type: none;
}

.nav__links li {
  text-decoration: none;
  color: #000000;
  font-weight: normal;

  line-height: 42px;
  text-align: center;
  margin-right: 60px;
  transition: all 0.5s ease;
}

.nav__links li a {
  color: #000000;
}

.nav__links li a:hover,
.nav__links li a:active,
a.current {
  color: #873ccf !important;
}

.about {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about h1 {
  font-size: 36px;
  color: #000;
  font-family: "Anton";
  margin-bottom: 60px;
