body {
  background-image: var(--bgGradient);
  height: 100vh;
  font-family: 'Roboto';
}

.select-nav__logo img,
.select-nav__profile__pic {
  height: 76px;
}

.select-nav__profile {
  display: flex;
  align-items: center;
  font-size: 28px;
  
}

.select-nav__profile__pic {
  margin-left: auto;
  margin-right: 25px;
}

.select {
  display: flex;
  justify-content: center;
  align-items: center;
}

.select__area {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 600px;
  height: 350px;
  background-color: rgba(255, 255, 255, 0.36);;
  border-radius: 16px;
}

.select__area__form__input {
  width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

/* .select__area__form__input:focus + label,
.select__area__form__input + label:hover {
  background-color: red;
} */

.select__area__form .btn {
  padding: 10px 40px;
  cursor: pointer;
}